.dashboard {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.dashboard-sidebar {
  width: 250px;
  background-color: #73a7db;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 0 30px 30px 0;
  text-align: center;
}

.dashboard-sidebar h1 {
  margin-bottom: 20px;
}

.dashboard-sidebar .user-info {
  margin-bottom: 20px;
}

.dashboard-sidebar .logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.dashboard-sidebar .logout-btn:hover
{
  background-color: #ee041b;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
