.dashboard {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.dashboard-sidebar {
  width: 250px;
  background-color: #73a7db;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 0 30px 30px 0;
  text-align: center;
}

.dashboard-sidebar h1 {
  margin-bottom: 20px;
}

.dashboard-sidebar .user-info {
  margin-bottom: 20px;
}

.dashboard-sidebar .logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.dashboard-sidebar .logout-btn:hover
{
  background-color: #ee041b;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* Styling for sidebar links */
.sidebar-links {
  margin-top: 20px;
}

.sidebar-links button {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #95d658;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-links button:hover {
  background-color: #0056b3;
}
/* Sidebar styling */
.sidebar {
  width: 250px;
  background-image: linear-gradient(to top, #5fbd58, #473088); /* Gradient background */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(240, 89, 89, 0.1);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #495057;
}
.btn-logout-btn {
  background-color: #b33535;
  color: white;
  border: none;
  padding: 15px; /* Increased padding for a larger button */
  font-size: 16px; /* Increased font size */
  cursor: pointer;
  width: 100%;
  border-radius: 5px; /* Rounded corners */
}
.btn-logout-btn:hover {
  background-color: #fc0d0d; /* Highlight color on hover */
}